.dialog {
  position: sticky;
  top: 0px;
  margin-left: 90%;

  .close {
  }

  &:hover {
    cursor: pointer;

    .close {
      #one,
      #two {
        fill: #333333;
      }
    }
  }
}

@media screen and (max-width: 550px) {  
  .dialog {
    margin-left: 80%;
  }
}
