<div class="container">
    <app-jumbotron [ViewImg]=displayImage [Header]=jumboTronHeader class="Jumb">
            
        <div class="icons-container">
            <div>
                <img  class="icon" src="../../../assets/contact_me/bird.png">
            </div>
        
            <div>
                <img class="icon" src="../../../assets/contact_me/Github.svg">
            </div>
        
            <div>
                <img class="icon" src="../../../assets/contact_me/worky.svg">
            </div>
        </div>
            
    </app-jumbotron>
</div>