<div class="container state-idle">
  <div class="view idle">
    <app-jumbotron
      [imageSrc]="displayImage"
      [title]="jumboTronHeader"
      [buttonText]="buttonText"
      (buttonClicked)="emailMe()"
      class="Jumb"
    >
    <div class="media-icons">
      <img class="icon" src='../../../assets/contact_me/twitter.svg'>
      <img class="icon" src='../../../assets/contact_me/linkedin.svg'>
      <img class="icon" src='../../../assets/contact_me/github.svg'>
    </div>
  </app-jumbotron>
  </div>

  <div class="view info">
    <div #contentOutlet></div>
  </div>
</div>
