@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

// CSS styles inside this selector will only
// apply to markdown that has been rendered by
// the showdown helper class
.markdown-wrapper {
  h1 {
    color: var(--primary-color);
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 93px;
    margin-bottom: 2%;
  }

  h1:after {
    content:' ';
    width: 250px;
    display: block;
    position: absolute;
    border: 5px solid #E5E5E5;
  }

  h2 {
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 69px;
  }

  h3 {
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 52px;
  }

  h4 {
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 38px;
  }

  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  padding: 0% 15% 15% 15%;
}

.markdown-wrapper-mobile {
  h1 {
    color: var(--primary-color);
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 30px;
  }

  h1:after {
    content:' ';
    width: 250px;
    display: block;
    position: absolute;
    border: 5px solid #E5E5E5;
  }

  h2 {
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 38px;
  }

  h3 {
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 29px;
  }

  h4 {
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  p {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  padding: 0% 15% 15% 15%;
}

// .markdown-wrapper-dark {
//   h1 {
//     color: var(--primary-color);
//     font-size: 80px;
//     font-weight: 300;
//     color: white;
//   }

//   p {
//     color: white;
//   }
//   pre {
//     background-color: lighten($color: #000000, $amount: 30);
//     width: 50%;
//     border-radius: 20px;
//     padding: 1%;
//   }
//   font-size: 25px;
//   font-family: 'Libre Baskerville', serif;
//   padding: 8% 15% 15% 15%;
//   background-color: #000000;
  
// }
