@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

// CSS styles inside this selector will only
// apply to markdown that has been rendered by
// the showdown helper class
.markdown-wrapper {
  h1 {
    color: var(--primary-color);
    font-size: 50px;
    font-weight: 300;
  }
  pre {
    background-color: lighten($color: #000000, $amount: 30);
    width: 50%;
    border-radius: 20px;
    padding: 1%;
  }
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  padding: 5%;
}
