@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.container {
    display: grid;
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr 2fr 2fr;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px grey;
    .picture {
        height: 100%;
        grid-column: 1/3;
        .jumbo-img {
            width: 100%;
            height: 100%;
            border-radius: 20px 0 0 20px;
            object-fit: cover
        }
    }
    .desc-text {
        grid-column: 3/3;
        h1 {
            font-family: 'Roboto Slab', serif;
            font-size: 5em;
            margin-left: 5%;
        }
    }
    ng-content {
        display: inline-block;
    }
}
