@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

$main-width: 50vw;
$main-hieght: 60vh;

.container {
    display: grid;
    grid-column: 1fr 2fr 1fr;
    .main {
        grid-column: 2/4;
        width:  $main-width;
        height: $main-hieght;
        border-radius: 15px;
        box-shadow: 0px 4px 12px rgba(49, 49, 49, 0.4);
        .header {
            margin-top: 5%;
            margin-left: 39%;
            font-size: 56px;
            text-align: center;
            font-family: 'Libre Baskerville', serif;
            font-style: normal;
            font-weight: normal;
            text-align: center;
        }
    }
    .image-container {
        left: 40%;
        width: 25vw;
        height: 35vh;
        grid-column: 1/2;
        margin-top: 90px;
        position: relative;
        .image {
            width: 100%;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0px 0px 10px rgba(49, 49, 49, 0.4);
        }
    }
}