@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


$main-width: 50vw;
$main-hieght: 60vh;

.container {
    display: grid;
    grid-column: 1fr 2fr 1fr;
    .main {
        grid-column: 2/4;
        width: $main-width;
        height: $main-hieght;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 5px 5px 5px 5px #918C94;
        .header {
            margin-top: 5%;
            margin-left: 39%;
            font-size: 0.9em;
        }
    }
    .image-container {
        left: 15%;
        width: 25vw;
        height: 35vh;
        grid-column: 1/2;
        margin-top: 100px;
        position: absolute;
        background-color: black;
        border-radius: 20px 20px 20px 20px;
    }
}