<canvas
  id="drawingBoard"
  (mousemove)="onmousemove($event)"
  (mousedown)="onmousedown($event)"
  (mouseup)="stopDrawing()"
  (mouseleave)="stopDrawing()"
  #canvas
></canvas>

<div class="drawing-tools" [class.shown]="userHasDrawn">
  <button
    *ngFor="let color of colors"
    class="color-button"
    [class.active]="color === activeDrawColor"
    (click)="setColor(color)"
  >
    {{ color.name }}
  </button>
  <br />
  <div class="clear-button" (click)="clearBoard()">X</div>
</div>

<div class="user-draw-message" *ngIf="!userHasDrawn">
  <span>DRAW SOMETHING</span>
</div>
