<canvas
  id="drawingBoard"
  (mousemove)="onmove($event)"
  (mousedown)="onDown($event)"
  (mouseup)="onUp()"
  (mouseleave)="onLeave()"
  #canvas
></canvas>

<div class="drawing-tools">
  <button
    *ngFor="let color of colors"
    class="color-button"
    [class.active]="color === curColor"
    (click)="setColor(color)"
  >
    {{ color.name }}
  </button>
  <br />
  <div class="clear-button" (click)="clearBoard()">X</div>
  <!-- <button class="color-button" (click)="curColor = colorGreen">Green</button>
  <button class="color-button" (click)="curColor = colorYellow">Yellow</button>
  <button class="color-button" (click)="curColor = colorBrown">Brown</button>
  <button class="color-button" (click)="curColor = colorBlack">Black</button> -->
</div>
