@import url(~fullpage.js/dist/fullpage.min.css);
@import "../shared/global.scss";

#fullpage {
  display: grid;
  .pageRender {
    display: grid;
    grid-template-columns: 1% 2fr 2fr;
    
    
    .dot-active {
      height: 25px;
      width: 25px;
      background-color: darken($color: $secondary-color, $amount: 8);
      border-radius: 100%;
      margin: 0.5em;
      display: inline-block;
      position: relative;
      -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
      -webkit-animation-fill-mode: forwards;
      animation: mymove-active 3s;
      animation-fill-mode: forwards;
    }
    
    .dot {
      height: 25px;
      width: 25px;
      background-color: darken($color: $thrid-color, $amount: 8);
      border-radius: 100%;
      margin: 0.5em;
      display: inline-block;
      position: relative;
      -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
      -webkit-animation-fill-mode: forwards;
      animation: mymove 3s;
      animation-fill-mode: forwards;
    }
  }
  
  .jumboTron {
    grid-column: 2/4;
    .icon {
      width: 50px;
      padding: 5%;
    }
  }
}






/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from { left: 0px;}
  to {left: 200px;}
}


@keyframes mymove {

  0% {
    top: 0px;
    background-color: lighten($color: $secondary-color, $amount: 100);
  } 
  10% {
    background-color: lighten($color: $secondary-color, $amount: 100);
  }
  20% {
    background-color: lighten($color: $secondary-color, $amount: 90);
  }
  
  30% {
    background-color: lighten($color: $secondary-color, $amount: 70);
  }
  
  40% {
    background-color: lighten($color: $secondary-color, $amount: 60);
  }
  
  50% {
    background-color: lighten($color: $secondary-color, $amount: 50);
  }
  
  60% {
    background-color: lighten($color: $secondary-color, $amount: 40);
  }
    
  
  70% {
    background-color: lighten($color: $secondary-color, $amount: 30);
  }
  
  80% {
    background-color: lighten($color: $secondary-color, $amount: 20);
  }
  
  90% {

    background-color: lighten($color: $secondary-color, $amount: 20);
  }
  
  100% {
    background-color: lighten($color: $secondary-color, $amount: 20);
    top: 150px;
  }
  
}  

@keyframes mymove-active {

  0% {
    top: 0px;
    background-color: lighten($color: $secondary-color, $amount: 100);
  }
  
  100% {
    top: 150px;
  }
}

